#Spanish{
    font-size:20px;
    font-style:normal;
    font-weight: bold;
}
.rojo{
    font-weight: bold;
    font-size: 20px;
}
.Azul{
    font-weight: bold;
    font-size: 20px;
}
.Anaranjado{
    font-weight: bold;
    font-size: 20px;
}
.Verde{
    font-weight: bold;
    font-size: 20px;
}
.Amarillo{
    font-weight: bold;
     font-size: 20px;
}